@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    display: none;
}

html {
    background-color: #f5f7fa;
    overflow-x: hidden;
}

body {
}


header, section, .dark-div {
    background-color: #fff;
}

.row-1-cont{
    overflow-x: scroll !important;
}

.dark-mode-header, .dark-mode-body, .dark-mode-footer {
    background-color: #0a082a;
    color: white;
}

.dark-mode-section, .dark-mode-div {
    background-color: #303754;
    color: #fff;
}

button {
    background-color: #ee8038;
    color: #fff;
}