@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #f5f7fa;
}

header, section {
    background-color: #fff;
}

.dark-mode-header, .dark-mode-body, .dark-mode-footer {
    background-color: #0a082a;
    color: white;
}

.dark-mode-section {
    background-color: #303754;
}

button {
    background-color: #ee8038;
}