@tailwind base;
@tailwind components;
@tailwind utilities;





.no-sb::-webkit-scrollbar {
    display: none;
}


.custom-scrollbar::-webkit-scrollbar {
    scroll-behavior: smooth;
    width: 1px; /* Width of the scrollbar */
    height: 9px; /* Width of the scrollbar */
    cursor: pointer;
    background-color: transparent; /* Background color of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Border radius of the scrollbar thumb */
}


  

html {
    background-color: #f5f7fa;
    overflow-x: hidden;
}

#bug{
    background-image: url('	https://cdn1.myassignmenthelp.com/new-images/india-country.jpg') !important;
    background-blend-mode:multiply ;
    background-color: #b4b4b4;
    background-size: cover;
}

header, section, .dark-div {
    background-color: #fff;
}

.row-1-cont{
    overflow-x: scroll !important;
}

.title-wrapper{
    color: #fff;
}

.dark-mode-header, .dark-mode-body, .dark-mode-footer {
    background-color: #0a082a;
    color: white;
}

.dark-mode-section, .dark-mode-div, .dark-mode-input, .dark-mode-textarea {
    background-color: #303754 !important;
    color: #fff;
    transition: 0.618s ease-in-out;
}

.dark-mode-header-div {
    background-color: #303754 !important;
    color: #fff;
    transition: 0.618s ease-in-out;
}

.header-div {
    background: white;
    transition: 0.618s ease-in-out;
}

.dark-div:hover {
    transition: 0.3s ease-out;
    transform: scale(0.98) !important;
    box-shadow: 2px 2px 2px #ee8038;
}

.orange-title {
    color: #ee8038;
}

.menu-container {
    transform: translateY(-200%);
    opacity: 0;
}

.menu-open{
    opacity: 100;
    transition: 0.618s ease-in;
    transform: translateY(0%);
}

.hamburger {
    background-image: url('./assets/hamburger.png');
}

button, .form-button, .hire {
    background-color: rgba(128, 128, 128, 0.269) !important;
    color: #fff;
    cursor: pointer;
}

button:hover, .form-button:hover, .hire:hover{
    background-color: #ee8038 !important;
}


.dark-mode-svg{
  background-color: #fff!important; /* Set fill color to white */
  border-radius: 1em;
  background-blend-mode: difference;
}

.form{
    outline: #fff solid 3px;
}

input {
    border-radius: 0.3em;
} 

.dark-mode-form {
    outline: #303754 solid 3px;
}

.form-control {
    width: 100%;
}